@media screen and (max-width: 1200px) {
    header {
        width: 100%;
    }

    header .menu_side, .song_side {
        width: 30%;
    }

    header .song_side {
        width: 70%;
    }

    header .song_side .content {
        height: 18%;
    }
}