{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sign UP</title>
</head>
<body>
    
    <div class="wrapper">
        <span class="bg-animate2"></span>
        
        <div class="form-box register">
            <h2>Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <label for="Fisrt Name">First Name</label>
                    <input type="text" placeholder="Enter First Name" name="first_name" id="email" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box">
                    <label for="Last Name">Last Name</label>
                    <input type="text" placeholder="Enter Last Name" name="last_name" id="email" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter Email" name="email" id="email" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box">
                    <label for="Username">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" id="email" required>
                    <i class='bx bx-lock'></i>
                </div>
                <div class="input-box">
                    <label for="psw">Password</label>
                    <input type="password" placeholder="Enter Password" name="password1" id="psw" required>
                    <i class='bx bx-lock'></i>
                </div>
                <div class="input-box">
                    <label for="psw-repeat">Repeat Password</label>
                    <input type="password" placeholder="Repeat Password" name="password2" id="psw-repeat" required>
                    <i class='bx bx-lock'></i>
                </div>
                <button type="submit" class="registerbtn">Register</button>
                <div class="logreg-link">
                    <p>Don't have an account? <a href="#" class="register-link">Sign Up</a></p>
                </div>
            </form>
        </div>
        <div class="info-text login">
            <h2>Welcome Back!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>

</body>
</html>