{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style_army.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type=" image/x-icon">
    <title>Bangtan</title>
    <style>
        link {
            display: none;
        }
    </style>
</head>
<body>
    <main class="table">
        <section class="table_header">
            <h1>{{page_title}}</h1>
        </section>
        <section class="table_body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Instagram</th>
                    <th scope="col">Twitter</th>
                    <th scope="col">Negara</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>

                    {% for akun in member %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{akun.first_name}}</td>
                        <td>{{akun.last_name}}</td>
                        <td>{{akun.instagram}}</td>
                        <td>{{akun.twitter}}</td>
                        <td>{{akun.negara}}</td>
                        <td><a class="btn" href="{% url 'delete' akun.id %}" title="">Delete</a></td>
                        <td><a class="bton" href="{% url 'update' akun.id %}" title="">Update</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <a class="button" href="create">Plus</a>
        <a href="music"><i class='bx bxs-home-smile'></i></a>
    </main>
</body>
</html>