<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'img/logo.png' %}" type=" image/x-icon">
    <title>Bangtan</title>
    <style>
        link{
            display: none;
        }
    </style>
</head>
<body>
    <div class="profile-card">
        <div class="image-container">
            <img src="{% static 'img/nuna.jpeg' %}" style="width: 100%">
        </div>
    </div>
</body>
</html>